:root {
  /* --theme-color: rgb(194, 172, 171); */
  --theme-color: rgb(170, 80, 80);
  /* --theme-color: rgb(190, 170, 0); */
  /* --theme-color: #FF9999; */
}

@font-face { font-family: Quicksand; font-weight: normal; src: url('./assets/Quicksand-Regular.ttf'); }
@font-face { font-family: Quicksand; font-weight: bold; src: url('./assets/Quicksand-Bold.ttf'); }
@font-face { font-family: Quicksand; font-weight: lighter; src: url('./assets/Quicksand-Light.ttf'); }

body {
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

.cookie-consent {
  align-items: baseline;
  background: rgb(53, 58, 63);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;

  .cookie-consent-content {
    padding: 1rem;
  }

  .cookie-consent-button-wrapper {
    padding: 1rem;
  }

  button {
    color: white;
    border: 2px solid var(--theme-color);
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1rem;
    background-color: transparent;
    transition: background-color 100ms linear;
    width: 100%;
    max-width: 300px;

    &:hover {
      color: white;
      background-color: var(--theme-color);
      transition: background-color 100ms linear;
    }
  }

}
